body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2rem;
  background: #1a1a1a;
  color: #f3587a;
  align-items: center;
}

main {
  max-width: 480px;
  margin: 0 auto;
  padding: 1.75rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(15, 23, 42, 0.08);
}

h1 {
  margin-top: 0;
  text-align: center;
  letter-spacing: 2px;
  color: #f3587a;
}

fieldset {
  border: 1px solid #752b52;
  border-radius: 6px;
  padding: 1.25rem;
  margin: 0;
}

form {
  background-color: #2b2424;;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  width: 100%;
  max-width: 500px;
  padding: 1.25rem;
}

legend {
  font-weight: 600;
  padding: 0 0.5rem;
  color: #f3587a;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  font-size: 1rem;
}

select{
  height: 1.5rem;
}

/* Estilo del checkbox de Motrar Contraseña */
input[type="checkbox"] + label {
  display: inline-block;       
  margin-right: 1rem;          
  margin-top: 0;               
  font-weight: normal;         
  vertical-align: middle;      
}

/* Estilo del botón Submit */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* El cuadro de mensaje se muestra cuando el usuario hace clic en el campo de contraseña i campo nombre */
#mensaje, #mensajeNombre {
  display:none;
  background: #1c1313;
  color: white;
  position: relative;
  padding: 20px;
  margin-top: 10px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
}

#mensaje p, #mensajeNombre p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Añade un color de texto verde y una marca de verificación cuando los requisitos se cumplen */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "\2714";
}

/* Añade un color de texto rojo y un icono de “x” cuando los requisitos no se cumplen */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "\2716";
}